
<section class="container mt-3">
    <div class="row">
        <div class="col-lg-3 card pt-2 order-lg-1 order-2 text-center">
            <div class="container">

                <div class="row Qlink">
                    <div class="col-lg-12 pt-lg-2">
                        <img src="~/assets/Images/head.png" class="mx-auto text-center img-fluid">
                    </div>
                    <div class="col-lg-12 col-md-3 col-6 mb-lg-2 mt-lg-0 my-md-2 my-1">
                        <a href="News.html"><img src="~/assets/Images/banner1.png" class="img-fluid rad12"></a>
                    </div>
                    <div class="col-lg-12 col-md-3 col-6 my-md-2 my-1">
                        <a href="News.html"><img src="~/assets/Images/banner2.png" class="img-fluid rad12"></a>
                    </div>
                    <div class="col-lg-12 col-md-3 col-6 my-md-2 my-1">
                        <a href="News_Details.html"><img src="~/assets/Images/banner3.png" class="img-fluid rad12"></a>
                    </div>
                    <div class="col-lg-12 col-md-3 col-6 mt-lg-2 mb-lg-0 my-md-2 my-1">
                        <a href="News_Details.html"><img src="~/assets/Images/banner4.png" class="img-fluid rad12"></a>
                    </div>
                    <div class="col-lg-12">
                        <img src="~/assets/Images/foot.png" class="mx-auto img-fluid">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-9 mb-lg-0 mb-3 order-lg-2  order-1">
            <div id="owl-slider" class="owl-carousel">
                <div class="item">
                    <a href="#">
                        <img src="~/assets/Images/Slides/Slide-1.jpg" alt="slide1" class="img-fluid">
                        <div class="caption">
                            <span class="SlideCategori position-absolute bg-danger px-3">
                                جلسات مدیران
                            </span>
                            <p>اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام اقتصادی کشور </p>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="~/assets/Images/Slides/Slide-2.jpg" alt="slide1" class="img-fluid">
                        <div class="caption">
                            <span class="SlideCategori position-absolute bg-danger px-3">
                                همایش ها
                            </span>
                            <p>فرصت دوباره برای فعال سازی پذیرنده های بانک </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="container my-4 text-center">
    <h5 class="IRANSansWeb_Medium  bt-color">خدمات ما</h5>
    <p>کلیه خدمات قابل ارائه لورم ایپسوم از صنعت چاپ </p>
    <div id="owl-Service" class="owl-carousel">
        <div class="card mx-2 my-3">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/assets/Images/News/5.jpg" alt="">
                </a>
                <h6>آئین نامه ها</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="News_Details.html" class="btn btn-grad px-5 text-white mt-2 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-2 my-3">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/assets/Images/News/6.jpg" alt="">
                </a>
                <h6>بخش نامه ها</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="News_Details.html" class="btn btn-grad px-5 text-white mt-2 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-2 my-3">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/assets/Images/News/news1.png" alt="">
                </a>
                <h6>واحد سازمانی</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="News_Details.html" class="btn btn-grad px-5 text-white mt-2 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-2 my-3">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/assets/Images/News/news2.jpeg" alt="">
                </a>
                <h6>واحد کارگزینی</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="News_Details.html" class="btn btn-grad px-5 text-white mt-2 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-2 my-3">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/assets/Images/News/news4.png" alt="">
                </a>
                <h6>واحد توسعه</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="News_Details.html" class="btn btn-grad px-5 text-white mt-2 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-2 my-3">
            <div class="card-body">
                <a href="#">
                    <img class="rounded-circle" src="~/assets/Images/News/news3.jpg" alt="">
                </a>
                <h6>واحد فناوری</h6>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
                <a href="News_Details.html" class="btn btn-grad px-5 text-white mt-2 rad25">مشاهده</a>
            </div>
        </div>

    </div>

</section>

<section class="container  Nlist wt_box mt-5 relative">


    <div class="row">

        <div class="col-lg-9 bx-nws card mb-3">
            <div class="widget-title">
                <h1>اخبار مرکز و استان ها</h1>
            </div>
            <div class="bg-white  m-0 p-2">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="~/assets/Images/News/news1.png" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>فرصت دوباره برای فعال سازی مجدد پذیرنده های بانک</h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="~/assets/Images/News/news2.jpeg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>
                                        رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز تعویض پلاک خودرو
                                    </h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="~/assets/Images/News/news3.jpg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام اقتصادی کشور </h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="~/assets/Images/News/news4.png" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>افزایش حقوق معلمان چه زمانی واریز می شود؟</h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="~/assets/Images/News/news3.jpg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>فرصت دوباره برای فعال سازی مجدد پذیرنده های بانک</h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="~/assets/Images/News/news2.jpeg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>
                                        رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز تعویض پلاک خودرو
                                    </h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="~/assets/Images/News/news1.png" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام اقتصادی کشور </h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="~/assets/Images/News/news2.jpeg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>افزایش حقوق معلمان چه زمانی واریز می شود؟</h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>





                </ul>
                <div class="d-flex flex-row tttt justify-content-between pb-2 px-3">
                    <div>
                        « نمایش 4 از کل »
                    </div>

                    <div>
                        <a href="#">مشاهده بیشتر »</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-3 d-lg-block d-none">
            <a href="#"><img src="~/assets/Images/emono1.jpeg" class="img-fluid rad12 mb-3"></a>
            <a href="#"><img src="~/assets/Images/event01.jpg" class="img-fluid rad12 mb-3"></a>
        </div>
    </div>

</section>

<section class="container Lnews mt-5">

    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card wt_box px-3">
                <div class="widget-title">
                    <h1>اخبـار همایش ها</h1>
                </div>
                <ul>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز
                            تعویض پلاک خودرو
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های
                            بانک
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز
                            تعویض پلاک خودرو
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های
                            بانک
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card wt_box px-3">
                <div class="widget-title">
                    <h1>اخبـار فناوری ها</h1>
                </div>

                <ul>
                    <li>
                        <a href="News_Details.html">
                            رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز
                            تعویض پلاک خودرو
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های
                            بانک
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز
                            تعویض پلاک خودرو
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های
                            بانک
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                    <li><a href="News_Details.html">افزایش حقوق معلمان چه زمانی واریز می شود؟</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <h5 class="IRANSansWeb_Medium text-center bt-color">آخرین اخبارها و رویدادها</h5>
    <div id="owl-topnews" class="owl-carousel mt-3 text-center">
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="~/assets/Images/News/news1.png" class="mb-3 img-fluid rad12">
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>

            <a href="News_Details.html">
                <h2>اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام اقتصادی کشور است</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>

            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="~/assets/Images/News/5.jpg" class="mb-3 img-fluid rad12">
                <div class="d-flex flex-column covernews">
                    <div class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                        <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                    </div>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز تعویض پلاک خودرو</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>

        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="~/assets/Images/News/news3.jpg" class="mb-3 img-fluid rad12">
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>امکان استعلام ممنوع الخروجی از طریق درگاه ملی خدمات الکترونیک سازمان مالیاتی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="~/assets/Images/News/news2.jpeg" class="mb-3 img-fluid rad12">
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های بانکی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="~/assets/Images/News/news1.png" class="mb-3 img-fluid rad12">
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>امکان استعلام ممنوع الخروجی از طریق درگاه ملی خدمات الکترونیک سازمان مالیاتی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="~/assets/Images/News/news2.jpeg" class="mb-3 img-fluid rad12">
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های بانکی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="~/assets/Images/News/news4.png" class="mb-3 img-fluid rad12">
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>امکان استعلام ممنوع الخروجی از طریق درگاه ملی خدمات الکترونیک سازمان مالیاتی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="~/assets/Images/News/news3.jpg" class="mb-3 img-fluid rad12">
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های بانکی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
    </div>

</section>

<section class="container-fluid py-5">
    <div class="container">
        <div id="foottop" class="row p-3 mx-2 mt-2 grad-bg text-center text-white rad25">
            <div class="col-lg-4">
                <a href="#"><img src="~/assets/Images/logo2.png"></a>
            </div>
            <div class="col-lg-8">
                <h6 class="mb-2 IRANSansWeb_Medium">شماره های تماس :</h6>
                <img src="~/assets/Images/chevron.png">
                <a href="#" class="rounded-btn text-white text-center support-phone IRANSansWeb_Bold">
                    01733265147 __
                    01733265149
                </a>
                <img src="~/assets/Images/chevron2.png">
            </div>
        </div>

    </div>
</section>



<section class="container text-center pb-5">
    <h5 class="IRANSansWeb_Bold bt-color">لینک های مرتبط</h5>
    <p>جهت مشاهده بر روی هر لینک کلیک کرده و وارد سایت مربوطه شوید</p>
    <div id="owl-province" class="owl-carousel mt-4">
        <div class="card m-2">
            <a href="#">
                <img src="~/assets/Images/llogo-01.png" class="rad25">
            </a>
        </div>
        <div class="card m-2">
            <a href="#">
                <img src="~/assets/Images/llogo-02.png" class="rad25">
            </a>
        </div>
        <div class="card m-2">
            <a href="#">
                <img src="~/assets/Images/llogo-03.png" class="rad25">
            </a>
        </div>
        <div class="card m-2">
            <a href="#">
                <img src="~/assets/Images/llogo-05.png" class="rad25">
            </a>
        </div>
        <div class="card m-2">
            <a href="#">
                <img src="~/assets/Images/llogo-06.png" class="rad25">
            </a>
        </div>
        <div class="card m-2">
            <a href="#">
                <img src="~/assets/Images/llogo-01.png" class="rad25">
            </a>
        </div>
        <div class="card m-2">
            <a href="#">
                <img src="~/assets/Images/llogo-02.png" class="rad25">
            </a>
        </div>
        <div class="card m-2">
            <a href="#">
                <img src="~/assets/Images/llogo-03.png" class="rad25">
            </a>
        </div>

    </div>

</section>
