@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb mb-0 rad25">
                    <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                    <li class="breadcrumb-item"><a href="#">اخبار</a></li>
                    <li class="breadcrumb-item active" aria-current="page">جزئیات اخبار</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<section class="container-fluid mt-3 pb-5">
    <div class="container px-5 py-3 box  bg-page">
        <div class="row">
            <div class="col-lg-12">

                <div id="blog_details">
                    <h1 class="pt-3 IRANSansWeb_Medium">
                        اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                        اقتصادی کشور
                    </h1>
                    <div class="mb-4">
                        <span class="pl-2"><i class="fas fa-history pl-1"></i>تاریخ ارسال : 98/2/3 </span>
                        <span><i class="fas fa-user pl-1"></i>نویسنده : مدیریت </span>
                    </div>


                    <img src="~/Assets/Images/Slides/Slide-1.jpg" class="img-fluid rad25 pb-3 w-75">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. لورم ایپسوم متن
                        ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
                        بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                        کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. لورم ایپسوم متن ساختگی با تولید سادگی
                        نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
                        ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف
                        بهبود ابزارهای کاربردی می باشد.
                        لورم ایپسوم متن ساختگی

                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. لورم ایپسوم متن
                        ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>

                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. لورم ایپسوم متن
                        ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>

                    <h6>برچسب ها :</h6>
                    <ul class="inline">

                        <li class="mb-2">
                            <a href="#" class="key-word"># طراحی واکنشگرا</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># زیبا</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># چشم نواز</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="key-word"># استاندارد</a>
                        </li>
                    </ul>
                </div>



            </div>
        </div>
    </div>
</section>