@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="container mt-3">
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb mb-0 rad25">
                    <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                    <li class="breadcrumb-item active" aria-current="page">مدیران و معاونان</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="container-fluid mt-3 pb-5">
    <div class="container p-md-5 box p-4 bg-page">
        <h5 class="mb-4 bt-color IRANSansWeb_Medium">مدیران و معاونان</h5>
        <p>
            ما معتقدیم تعامل برند مهم در برقراری ارتباط است. نوآوری های واقعی و یک تجربه مثبت مشتری قلب ارتباطات موفق
            است. نوآوری های واقعی و یک تجربه مثبت مشتری قلب ارتباطات موفق است.یک تجربه مثبت مشتری قلب ارتباطات موفق
            است. ما معتقدیم تعامل برند مهم در برقراری ارتباط است. نوآوری های واقعی و یک تجربه مثبت مشتری قلب
            ارتباطات موفق است. نوآوری های واقعی و یک تجربه مثبت مشتری قلب ارتباطات موفق است.یک تجربه مثبت مشتری قلب
            ارتباطات موفق است.
        </p>
        <p>
            ما معتقدیم تعامل برند مهم در برقراری ارتباط است. نوآوری های واقعی و یک تجربه مثبت مشتری قلب ارتباطات موفق
            است. نوآوری های واقعی و یک تجربه مثبت مشتری قلب ارتباطات موفق است.یک تجربه مثبت مشتری قلب ارتباطات موفق
            است. ما معتقدیم تعامل برند مهم در برقراری ارتباط است. نوآوری های واقعی و یک تجربه مثبت مشتری قلب
            ارتباطات موفق است. نوآوری های واقعی و یک تجربه مثبت مشتری قلب ارتباطات موفق است.یک تجربه مثبت مشتری قلب
            ارتباطات موفق است.
        </p>

        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="~/Assets/Images/987.jpg" alt="">
                    <div class="data">
                        <h6 class="IRANSansWeb_Medium">مهندس رضایی</h6>
                        <span>مدیر کل</span>
                        <hr>
                        <p class="text-center">راه های ارتباطی با مدیر کل</p>
                        <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                        <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="~/Assets/Images/986.jpg" alt="">
                    <div class="data">
                        <h6 class="IRANSansWeb_Medium">مهندس محمدی</h6>
                        <span>معاونت کل</span>
                        <hr>
                        <p class="text-center">راه های ارتباطی با معاونت کل</p>
                        <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                        <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="~/Assets/Images/988.jpg" alt="">
                    <div class="data">
                        <h6 class="IRANSansWeb_Medium">مهندس خسروی</h6>
                        <span>معاونت اجرایی</span>
                        <hr>
                        <p class="text-center">راه های ارتباطی با معاونت اجرایی</p>
                        <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                        <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <div class="card">
                    <img src="~/Assets/Images/989.jpg" alt="">
                    <div class="data">
                        <h6 class="IRANSansWeb_Medium">مهندس نیک خواه</h6>
                        <span>معاونت داخلی</span>
                        <hr>
                        <p class="text-center">راه های ارتباطی با معاونت داخلی</p>
                        <a href="#"><i class="fab fa-2x fa-whatsapp rounded text-success"></i></a>
                        <a href="#"><i class="fab fa-2x fa-telegram rounded text-info"></i></a>
                    </div>
                </div>

            </div>




        </div>

    </div>
</section>
